html {
  font-size: 100px;
}
* {
  margin: 0;
  padding: 0;
}
// 1rem = html的fontsize
// 1rem = 100px;
body {
  font-size: 0.14rem;
}
a {
  text-decoration: none;
  color: #333;
}
img {
  display: block;
  border: none;
}
